---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MAP_API_KEY>&location=denver,co,%20co&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 02 Aug 2020 18:05:36 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}}]}]}'
  recorded_at: Sun, 02 Aug 2020 18:05:36 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596391536,"sunrise":1596369620,"sunset":1596420710,"temp":76.37,"feels_like":73.63,"pressure":1025,"humidity":49,"dew_point":55.81,"uvi":10.3,"clouds":75,"visibility":10000,"wind_speed":8.05,"wind_deg":340,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1596391560,"precipitation":0},{"dt":1596391620,"precipitation":0},{"dt":1596391680,"precipitation":0},{"dt":1596391740,"precipitation":0},{"dt":1596391800,"precipitation":0},{"dt":1596391860,"precipitation":0},{"dt":1596391920,"precipitation":0},{"dt":1596391980,"precipitation":0},{"dt":1596392040,"precipitation":0},{"dt":1596392100,"precipitation":0},{"dt":1596392160,"precipitation":0},{"dt":1596392220,"precipitation":0},{"dt":1596392280,"precipitation":0},{"dt":1596392340,"precipitation":0},{"dt":1596392400,"precipitati[...]
