---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<MAP_API_KEY>&location=denver,co,%20co&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 04 Aug 2020 03:33:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}}]}]}'
  recorded_at: Tue, 04 Aug 2020 03:33:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596512027,"sunrise":1596456076,"sunset":1596507046,"temp":75.85,"feels_like":65.53,"pressure":1020,"humidity":33,"dew_point":44.73,"uvi":10.81,"clouds":40,"visibility":10000,"wind_speed":16.11,"wind_deg":190,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.61}},"minutely":[{"dt":1596512040,"precipitation":0.612},{"dt":1596512100,"precipitation":0.424},{"dt":1596512160,"precipitation":0.524},{"dt":1596512220,"precipitation":0.524},{"dt":1596512280,"precipitation":0.296},{"dt":1596512340,"precipitation":0.296},{"dt":1596512400,"precipitation":0.296},{"dt":1596512460,"precipitation":0},{"dt":1596512520,"precipitation":0.355},{"dt":1596512580,"precipitation":0.225},{"dt":1596512640,"precipitation":0.225},{"dt":1596512700,"precipitation":0.225},{"dt":1596512760,"precipitation":0},{"dt":1596512820,"pre[...]
